  .about-container {
    font-family: arial;
    font-size: 14px;
    margin: 25px;
    width: 450px;
    height: 200px;
  }
  
  .about-container p {
    text-align: justify;
  }
  .vm-container {
    font-family: arial;
    font-size: 14px;
    margin: 25px;
    width: 450px;
    height: 200px;
  }
  .vm-container p {
    text-align: justify;

  }