  .about-container {
    font-family: arial;
    font-size: 14px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px rgb(204, 14, 93);
  }
  
  .about-container p {
    text-align: justify;
     justify-content: center;
  }
