.business-profile-introduction-container {
    min-width: 100%;
    display: flex;
    margin-bottom: 10px;
    background-color: #ff97cb;
    border-radius: 20px;
    background-image: url('/static/assets/images/designs/balloon_bg_textures.png');
    background-size: 1300px;
}

.business-profile-introduction {
    margin: auto;
    min-width: 50%;
    max-width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.business-profile-introduction p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.business-profile {
    padding-left: 20px;
    min-height: 660px;
}


.business-profile-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    margin-left: 30px;
}

.business-profile-image {
    background-color: #FF007E;
    border-radius: 20px;
    padding: 20px;
}

.business-profile-image img {
    width: 0%;
    border-radius: 20px;
}

.business-profile-content {
    flex: 1 1 30rem;
    margin-right: 20px;
    background-color: #ffc31f;
    background-image: url('/static/assets/images/designs/balloon_bg_textures.png');
    border-radius: 20px;
    padding: 25px;
}

.business-profile-content h3 {
    color: var(--black);
    font-size: 2rem;
    padding: .5rem 0;
}

.business-profile-content p {
    color: var(--light-color);
    font-size: 2rem;
    padding: .5rem 0;
    line-height: 2;
}

.business-profile-sub-heading {
    background-color: #FF007E;
    border-radius: 10px;
    padding: 2%;
    font-size: 500px;
    text-align: center;
    color: white;
    font-size: 4rem;
}

.business-profile-heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;
    padding-bottom: 25px;
}