.fade-in-background {
  opacity: 30%;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0);
  transition: 1s;
}

.fade-in-background-inactive {
  opacity: 0%;
  transition: 1s;
}

.contact-container {
  display:flex;
  padding: 40px;
  margin: 4%;
}

.contact-icon {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-right: 10px;
  color: #FF007E;
}

.contact-information {
 display: flex;
 flex-direction: column;
 width: 100%;
 min-width: 170px;
 font-size: 25px;
 gap: 70px;
 padding: 70px 60px;
 background-color: white;
 border-radius: 50px;
 filter: drop-shadow(5px 5px 5px #ddd4a1);
}

.contact-information-titles {
  font-size: 30px;
  color: #FF007E;
}

.contact-information-details {
  font-size: 20px;
}

.contact-information-inputs {
  width: 100%;
  min-width: 678px;
  padding: 30px;
}

.contact-information-inputs-contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 35px;
}

.contact-information-inputs-titles {
  font-size: 25px;
}

.contact-information-inputs-contents h2{
  font-size: 40px;
  margin-bottom: 10px;
}

.contact-information-inputs-contents input, .contact-information-inputs-contents textarea{
  width:500px;
  background-color:white;
  border:1px solid rgba(0, 0, 0, 0.48);
  padding:5px 10px;
  margin-bottom:5px;
  border-radius: 10px;
  min-height: 40px;
}

.contact-information-inputs-contents button {
  background-color:#f02d34;
  color:#fff;
  transition:0.2s;
  border-style: none;
  margin:30px 0;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  border-radius: 10px;
  max-width: 505px;
}

.contact-information-inputs-contents button:hover {
  background-color:#ffffff;
  color:#FF007E;
  border-style: none;
  border-style: solid;
  border-color: #FF007E;
  transition:0.2s;
  cursor: pointer;
}

.contact-form-submitted {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -250px;
  z-index: 2;
  width: 500px;
  height: 300px;
  background-color: #FF007E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
}

.contact-form-submitted p {
  margin-top: 10px;
  font-size: 17px;
}

.contact-form-submitted button {
  background-color:#f02d34;
  color:#fff;
  transition:0.2s;
  margin:30px 0;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  border-radius: 10px;
  min-width: 200px;
  border-color: white;
}

.contact-form-submitted button:hover {
  background-color:#ffffff;
  color:#FF007E;
  border-style: solid;
  border-color: #FF007E;
  transition:0.2s;
  cursor: pointer;
}

@media screen and (max-width:991px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-information-inputs{
      background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7), url);
      background-size:cover;
  }
  .contact-information-inputs-contents input, .contact-information-inputs-contents textarea{
      background-color:#fff;
  }
}