
.contact-container{
  display:flex;
  padding: 40px;
  margin: 4%;
}

.contact-icon {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-right: 10px;
  color: #FF007E;
}

.contact-information {
 display: flex;
 flex-direction: column;
 width: 100%;
 min-width: 170px;
 font-size: 25px;
 gap: 70px;
 padding: 70px 60px;
 background-color: white;
 border-radius: 50px;
 filter: drop-shadow(5px 5px 5px #ddd4a1);
}

.contact-information-titles {
  font-size: 30px;
  color: #FF007E;
}

.contact-information-details {
  font-size: 20px;
}

.contact-information-inputs {
  width: 100%;
  min-width: 678px;
  padding: 30px;
}

.contact-information-inputs-contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 35px;
}

.contact-information-inputs-titles {
  font-size: 25px;
}

.contact-information-inputs-contents h2{
  font-size: 40px;
  margin-bottom: 10px;
}

.contact-information-inputs-contents input, .contact-information-inputs-contents textarea{
  width:500px;
  background-color:white;
  border:1px solid rgba(0, 0, 0, 0.48);
  padding:5px 10px;
  margin-bottom:5px;
  border-radius: 10px;
  min-height: 40px;
}

.contact-information-inputs-contents input[type=submit]{
  background-color:#f02d34;
  color:#fff;
  transition:0.2s;
  border-style: none;
  margin:30px 0;
  font-size: 20px;
  font-weight: bold;
}
.contact-information-inputs-contents input[type=submit]:hover{
  background-color:#ffffff;
  color:#FF007E;
  border-style: none;
  border-style: solid;
  border-color: #FF007E;
  transition:0.2s;
}
@media screen and (max-width:991px){
  .contact-parent{
      display:block;
      width:100%;
  }
  .contact-information{
      display:none;
  }
  .contact-information-inputs{
      background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7), url);
      background-size:cover;
  }
  .contact-information-inputs-contents input, .contact-information-inputs-contents textarea{
      background-color:#fff;
  }
}