.contact-me{
  background: #ec920b;
  display:flex;
  margin:80px 0;
}
.contact-info{
  display:flex;
  flex:1;
}
.info1{
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), url);
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  color:#000000;
  padding:100px 0;
}
.info1 p{
  padding-left:20%;
  font-size:20px;
  text-shadow:0px 0px 2px #000;
}
.info1 p span{
  font-size:16px;
}
.info1 p{
  padding-left:20%;
  font-size:20px;
  text-shadow:0px 0px 2px #000;
}
.info1 p span{
  font-size:16px;
}
.info1 p{
  padding-left:20%;
  font-size:20px;
  text-shadow:0px 0px 2px #000;
}
.info1 p span{
  font-size:16px;
}
.inside-contact input, .inside-contact textarea{
  width:200%;
  background-color:#eee;
  border:1px solid rgba(255, 0, 140, 0.48);
  padding:5px 10px;
  margin-bottom:20px;
}
.inside-contact input[type=submit]{
  background-color:rgba(255, 0, 140, 0.48);
  color:#fff;
  transition:0.2s;
  border:2px solid rgba(255, 0, 140, 0.48);
  margin:30px 0;
}
.inside-contact input[type=submit]:hover{
  background-color:#ffffff;
  color:rgba(255, 0, 140, 0.48);
  transition:0.2s;
}
@media screen and (max-width:991px){
  .contact-parent{
      display:block;
      width:100%;
  }
  .info1{
      display:none;
  }
  .info2{
      background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7), url);
      background-size:cover;
  }
  .inside-contact input, .inside-contact textarea{
      background-color:#fff;
  }
}