.qna {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qna-contents {
    display: flex;
}

.qna-all-categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 25px 25px;
    background-color: white;
    min-width: 270px;
    min-height: 500px;
}

.qna-category {
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    display: flex;
    min-width: 100%;
    text-align: left;
    padding: 3px;
}

.qna-category:hover{
    color: #FF007E;
}

.qna-category-text {
    min-width: 95%;
    font-size: 17px;
}

.qna-category-down-arrow {
    align-items: center;
    justify-content: center;
    min-width: 15px;
    min-height: 15px;
    margin-top: 5px;
    transform: rotate(180deg);
    transition: 0.2s;
}

.qna-category-down-arrow-toggled {
    align-items: center;
    justify-content: center;
    min-width: 15px;
    min-height: 15px;
    margin-top: 5px;
    transition: 0.2s;
}

.qna-category-submenu {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 4px;
    transition: 0.5s;
    overflow: hidden;
    max-height: 200px;
    height: auto;
}

.qna-category-submenu-inactive {
    transition: 0.2s;
    max-height: 0px;
}

.qna-category-submenu-block {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    padding: 2px;
    border-radius: 3px;
}

.qna-category-submenu-block:hover{
    color: #FF007E;
}

.qna-all-answers {
    width: 100%;
    padding: 40px;
    min-height: 500px;
}

.qna-answer {
    color: black;
    font-size: 20px;
}