.qna {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qna-contents {
    display: flex;
    gap: 10px;
}

.qna-all-categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 25px 25px;
    background-color: white;
    min-width: 200px;
    min-height: 500px;
}

.qna-category {
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    display: flex;
    min-width: 100%;
    text-align: left;
    padding: 3px;
}

.qna-category:hover{
    color: #FF007E;
}

.qna-category-text {
    min-width: 95%;
    font-size: 17px;
}

.qna-category-down-arrow {
    align-items: center;
    justify-content: center;
    min-width: 15px;
    min-height: 15px;
    margin-top: 5px;
    transform: rotate(180deg);
    transition: 0.2s;
}

.qna-category-down-arrow-toggled {
    align-items: center;
    justify-content: center;
    min-width: 15px;
    min-height: 15px;
    margin-top: 5px;
    transition: 0.2s;
}

.qna-category-submenu {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 4px;
    transition: 0.5s;
    overflow: hidden;
    max-height: 220px;
    height: auto;
}

.qna-category-submenu-inactive {
    transition: 0.2s;
    max-height: 0px;
}

.qna-category-submenu-block {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    padding: 2px;
    border-radius: 3px;
    text-align: left;
}

.qna-category-submenu-block:hover{
    color: #FF007E;
}

.qna-all-answers {
    width: 100%;
    padding: 50px 90px;
    min-height: 500px;
    background-color: white;
}

.qna-answers {
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.qna-answers h1 {
    font-size: 50px;
}

.qna-answers h2 {
    font-size: 23px;
}

.qna-answers p {
    font-size: 18px;
}

.how-to-order-list {
    padding-left: 30px;
}

@media screen and (max-width:991px) {
    .qna-all-answers {
        padding: 20px 35px;
    }
    .qna-answers h1 {
        font-size: 30px;
    }
    
    .qna-answers h2 {
        font-size: 19px;
    }
    
    .qna-answers p {
        font-size: 17px;
    }
    
    .how-to-order-list {
        padding-left: 30px;
        font-size: 15px;
    }
    
    .qna-all-categories {
        padding: 16px;
        max-width: 170px;
    }

    .qna-category-text {
        font-size: 17px;
    }

    .qna-category-submenu-block {
        font-size: 14px;
    }
}

